
body {

    background-color: #696969







}




.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}




header {
    background-color: red;
    height: 118px;
    
    
}
nav {
    background-color: blue;
    height: 40px;
 
}
section{
    background-color: orange;
    height: 400px;
  

}
footer {
    background-color: greenyellow;
    height: 100px;
  

}


